@model resqdoc.Models.Material

@{
    ViewData["Title"] = "Edit";
}

<div class="container">

    <h1></h1>

    <h4>Edite a solicitação de material...</h4>
    <hr />
    <div class="row">
        <div class="">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tipo" class="control-label"></label>
                    <input asp-for="Tipo" class="form-control" />
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantidade" class="control-label"></label>
                    <input asp-for="Quantidade" class="form-control" />
                    <span asp-validation-for="Quantidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Local" class="control-label"></label>
                    <input asp-for="Local" class="form-control" />
                    <span asp-validation-for="Local" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cidadao" class="control-label"></label>
                    <input asp-for="Cidadao" class="form-control" />
                    <span asp-validation-for="Cidadao" class="text-danger"></span>
                </div>
                </br>
                <div class="form-group d-grid gap-2">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="form-group d-grid mt-1">
        <a class="btn btn-secondary" asp-action="Index">Voltar</a>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
